.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trigger {
  padding: 3rem 0;
  text-align: center;
  background: var(--ifm-color-emphasis-100);
}

.triggerCode {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--ifm-code-background);
  border-radius: 8px;
  font-size: 1rem;
  text-align: left;
  max-width: 100%;
  overflow-x: auto;
}
